.list-item {
   padding: 25px 0;
}

.list-item-header {
   display: flex;
   justify-content: space-between;
   flex-direction: column;
   align-items: start;
   padding: 20px 0;
}

.list-item-content {
   overflow-x: scroll;
}

.action {
   display: flex;
   justify-content: center;
   align-items: start;
   flex-direction: column;
   gap: 5px;
}

.add-btn {
   background-color: #0275dd;
}

.add-btn:hover {
   background-color: #034986;
}

.edit-btn {
   background-color: #2b932b;
}

.edit-btn:hover {
   background-color: #1c6f1c;
}

.delete-btn {
   background-color: #ff534f;
}

.delete-btn:hover {
   background-color: #ba2220;
}

table {
   width: 100%;
   border-collapse: collapse;
   border-radius: 8px;
}

thead tr {
  background-color: rgb(246, 92, 75);
  color: #ffffff;
  text-align: left;
}

table th, table td {
  padding: 12px 15px;
  border: 1px solid #dddddd;
}

table tbody tr:nth-child(even) {
  background-color: #f3f3f3;
}

table tbody tr:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

.empety-data {
   text-align: center;
   padding: 15px;
   font-size: 0.95rem;
}

.dark {
   background-color: #1f2937;
   color: #d1d5db;
}

.dark thead tr {
   background-color: #555;
   color: #d1d5db;
}

.dark tbody tr:nth-child(even) {
   background-color: #2d3748;
}

.dark tbody tr:hover {
   background-color: #434343;
}

.dark th, .dark td {
   border-bottom: 1px solid #4b5563;
}

.dark .action .button {
   background-color: #2563eb;
}

.dark .action .delete-btn {
   background-color: #dc2626;
}

.search-container {
   width: 100%;
   display: flex;
   justify-content: start;
   align-items: center;
   gap: 5px;
   margin-top: 10px;
}

.search-container input {
   width: 100%;
   padding: 8px;
   border: 1px solid #ccc;
   border-radius: 4px;
   font-size: 14px;
   color: #333;
   outline: none;
}

@media screen and (max-width: 768px) {
   #header nav h1 {
      font-size: 1.3rem;
   }
}

@media screen and (max-width: 576px) {
   table th, table td {
      font-size: 0.8rem;
   }

   button, .button {
      font-size: 0.8rem;
   }

   h2 {
      font-size: 1.3rem;
   }
}