#header {
  background-color: #161616;
  color: rgb(222, 222, 222);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 170px;
}

#header .settings {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.theme-btn {
  background-color: rgb(252, 37, 13);
}

.language-btn {
  color: #000;
}

.home {
   text-decoration: none;
   color: aliceblue;
   font-size: 1.4rem;
   font-weight: 600;
}

@media screen and (max-width: 992px) {
  #header {
    padding: 15px 30px;
  }
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 576px) {
  #header {
    padding: 15px 10px;
  }

  .home {
   font-size: 1.2rem;
   }
}
